<% for( var i = 0; i < cart.length; i++ ) { %>

<li>
	<a class="btn btn-lg pull-right glyphicon glyphicon-remove cart-remove-element" remove="<%= i%>" id-cart="<%= cart[i].id %>" >
		<b></b>
	</a>
	<strong><%= cart[i].nome %></strong>
</li>

<% } %>