<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Shows <small>compre seu ingresso agora</small></h1>
  </div>
</div>

<div id="produtos" class="row">
<% for( var i = 0; i < produto.length - 3; i++ ) { %>
    <div class="col-md-4 portfolio-item" pos="<%= i %>">
      <div class="thumbnail js-thumbnail">
        <div class="caption">
            <h3><strong><%= produto[i].nome %></strong></h3></br>
            <h5><strong>LOCAL:</strong> <%= produto[i].local %></h5>
        </div>
        <div id="effect">
          <button type="button" class="btn btn-sm btn-success sm-add-button button_01" rel="tooltip" title="adicionar no carrinho" pos="<%= i %>" >
            R$ <%= produto[i].valor %>
          </button>
          <img class="img-responsive" src="THEticket/imagens/<%= produto[i].imagem %>">
        </div>
      </div>
    </div>
<% } %>
</div>

<div id="produtos" class="row">
<% for( var x = i; x < produto.length; x++ ) { %>
    <div class="col-md-4 portfolio-item" pos="<%= x %>" >
      <div class="thumbnail js-thumbnail">
        <div class="caption">
            <h3><strong><%= produto[x].nome %></strong></h3></br>
            <h5><strong>LOCAL:</strong> <%= produto[x].local %></h5>
        </div>
        <div id="effect">
          <button type="button" class="btn btn-sm btn-success sm-add-button button_01" rel="tooltip" title="adicionar no carrinho" pos="<%= x %>">
            R$ <%= produto[x].valor %>
          </button>
          <img class="img-responsive" src="THEticket/imagens/<%= produto[x].imagem %>">
        </div>
      </div>
    </div>
<% } %>
</div>

