
<div class="form-group">
	<div class="full-size-header text-center" style="height: 60px;">
	  <h1>BEM VINDO</h1>
	</div>
    <p class="sidebar-label" style="text-align: center;">Ao THETicket &nbsp<var id="load-user-nome"> </var> seu email atual cadastrado é &nbsp <var id="load-user-email"> </var></p>

    <a id="menu-toggle-logout" href="javascript:history.go(0);" class="btn btn-primary btn-lg toggle" style="width: 100% !important;" >logout</a>
</div>