<a id="menu-close-login" class="btn btn-lg pull-right glyphicon glyphicon-remove"><i></i></a>
<div class="full-size-header text-center" style="height: 60px;">
  <h1>Cadastrar</h1>
</div>

<form id="form-create" class="form-signin" style="width: 210px; margin: auto;">
  <div class="form-group">
      <p class="sidebar-label">Nome:</p>
      <input id="nome-create" type="email" class="form-control" name="nome" required>
  </div>

  <div class="form-group">
      <p class="sidebar-label">Email:</p>
      <input id="email-create" type="email" class="form-control" name="email" placeholder="seu@email.com" required>
  </div>

  <div class="form-group">
      <p class="sidebar-label">Senha:</p>
      <input id="senha-create" type="password" class="form-control"  name="senha" placeholder="senha" required>
  </div>

  <button class="btn btn-primary btn-lg button-create" style="width: 100%;" >Cadastrar</button>

</form>