html, body {
	height:100%;
}

.carousel,
.item,
.active {
	height:100%;
}

.carousel-control .glyphicons-chevron-left, 
.carousel-control .glyphicons-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	height: 40px;
	width: 20px;
	top: 50%;
	zoom: 3;
}

.carousel-indicators .active {
	width: 20px;
	height: 20px;
	margin: 4px;
	background-color: #fff;
}


.carousel-indicators li {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 4px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	border-radius: 20px;
}

.carousel-inner {
	height:100%;
}

.slide>.item img{background-size: cover; width: 100%;}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

footer {
	margin: 50px 0;
}