#vendas{
  padding-top: 40px;
}

ul{
  margin-top:5px;
}

.sub-menu, 
.dropdown{
  font-weight: bolder;
}

.nav.navbar-nav>:hover,
.sub-menu:hover{
  background-color:#357ebd;
}

.dropdown-menu>li>a{
  font-style: oblique;
  font-weight: bold;
  border-bottom: 1px solid gainsboro;
}

.dropdown-menu>li>a:hover{
  color: white;
  background-color: darkturquoise;
}

/*.img-responsive:hover{*/
.shadow:hover{
  box-shadow:  6px 6px 10px  #888888;
}

#menu-toggle-login{
  font-size: 14px;
}

.sale-price-button{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.add-button{
  top: -170px;
  left: 0;
  position: relative;
  z-index: 100;
}

.modal-dialog {
  width: 515px;
}

.modal-content{
  margin-top: 20%;
}

.modal-footer {
  margin-top: 0;
}

.panel.panel-default {
  margin-bottom: 0;
}

input{
  font-family: monospace;
}

footer{
  background:rgb(210, 210, 255);
}

.list-inline{
  padding-top: 40px;
}

#effect>.sm-add-button{
  top: 70%;
  left: 45%;
  position: absolute;
  z-index: 100;
}

/*tumb esta colocando uma margin botton a mais é do proprio bootscrap*/
.thumbnail {
  margin-bottom: 0px !important;
}

/*INICIO CSS EFEITO TRANSFER*/
#effect { 
  width: 100%; 
  height: 100%
}

/*desenho do efeito a ser mandado no meu caso tenho que manda uma imagem*/
.ui-effects-transfer { 
  z-index: 10000; 
  border: 
  5px solid blue;
}

/*altura na imagem do carrosel a ser ajustada*/
.carousel-inner>.item>img {
  height: 100% !important;
}

.img-responsive{
    width: 100%;
}

/*margin botton tumb*/
.portfolio-item {
	margin-bottom: 25px;
}
