/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */
.sidebar-label{
  text-align: left;
  font-weight: bolder;
}

/*sidebar cart*/
#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #F1F1F1;/*backgroud sidebar*/
  position: fixed;
  height: 100%;
  /*overflow-y: auto;*/
  z-index: 100000;/*novo top bar esta cobrindo ele*/
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}


/*sidebar-login*/
#sidebar-login {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: white;/*backgroud sidebar*/
  position: fixed;
  height: 100%;
  /*overflow-y: auto;*/
  z-index: 100000;/*novo top bar esta cobrindo ele*/
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#sidebar-login.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/*sidebar-create*/
#sidebar-create {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: white;/*backgroud sidebar*/
  position: fixed;
  height: 100%;
  /*overflow-y: auto;*/
  z-index: 1000000;/*novo top bar esta cobrindo ele*/
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#sidebar-create.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#alert-email{
  font-size: 12px;
  font-weight: normal;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  text-indent: 20px;
}

.sidebar-nav li strong {
  position: relative;
  top: 12px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;/* posição do top*/
  right: 60px;/*ainda não eh o correto*/
  position: fixed;
  /*mesmo zindex do side bar pra ficar em baixo resolver problema com responsividade*/
  z-index: 100000;
}

/*background black transparente*/
.sidebar-grayout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.50);
  display: none;
  z-index: 900;
}

#sidebar-myIngress{
  border-bottom: gray;
  border-top: gray;
  height: 220px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: snow;
  margin-bottom: 10px;
}

#sidebar-myIngress li{
  height: 44px;
  width: 100%;
  background-color: darkturquoise;
  border-bottom: 1px white solid;
  text-align: left;
  font-family: inherit;
  color: white;
}

.toggle {
  margin: 5px 5px 0 0;
}


